# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Poetry files (if not needed)
# poetry.lock  # Uncomment if you prefer not to include the lock file in the production stage

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.tmp
